.my-page {

}

.my-notification {
    .content-item-container {
        border-bottom: 1px solid #D8D8D8;
    }
}

.custom-notification-dropdown-menu {
    .dropdown-menu {
        width: 280px;
        padding: 12px 16px;
        left: -18px !important;
    }
}

.custom-label-error {
    gap: 5px;
    margin-top: 5px;
    font-size: 12px;
    flex-basis: 80%;
    color: red;
    display: flex;
    align-items: center;
}

.my-courses {
    border-radius: 16px !important;
    background-color: #F4F7FE !important;

    .carousel-controls {
        .carousel-control-prev, .carousel-control-next {
            border-radius: 48px;
            background: #FFF;
            box-shadow: 0 6.28195px 37.69169px 0 rgba(0, 0, 0, 0.12);

            &:focus {
                color: black;
            }
        }

    }

    .carousel-inner {
        .carousel-item {
            .dashboard-card {
                border-radius: 10px;
                background: #FFF;
                box-shadow: 0 2.52631px 12.63157px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }

    .custom-carousel-mycourse {
        width: 97%;
        margin: auto;
        height: 358px;
    }
}

.backtomenu {
    left: 0;
    position: absolute;
}

.pagelayout-mypublic {
    #topofscroll {
        margin-top: 2rem !important;
    }

    .userprofile .description {
        display: none;
    }

    .node_category.card,
    .card-profile {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #F4F7FE;

        .userpicture img {
            border-radius: 50%;
            max-width: 60%;
        }

        .btn-header {
            width: fit-content;
        }

        .userinfo {
            text-align: left;

            .userdescription p:last-of-type {
                margin-bottom: 0;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            dl {
                margin-bottom: 0;
            }
        }
    }

    .col-md-4 {
        padding-right: 0;
    }

    .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }

}

@include media-breakpoint-down(sm) {
    .pagelayout-mypublic {
        .col-md-4,
        .col-md-8 {
            padding-left: 15px;
            padding-right: 15px;
        }

        .col-md-4 {
            margin-bottom: 15px;
        }
    }
}

//custom
.user_info_button {
    width: 100%;
    padding: 6px 12px;
    color: black;
    border-color: #F4F7FE;
    margin-bottom: 5px;
    height: 46px;
}

.text-center-col-vtc {
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    height: 100%;
}

.custom-label-form-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-item-container:hover {
    color: #000;
    background-color: #0f6cbf;
}


.error-input {
    border: 1px solid red;
}

.custom-category-search-userprofile {
    margin-bottom: 0;

    p {
        color: #FFF;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 36px;
    }

    .form-group {
        margin-bottom: 0;
    }

    .has-search .form-control {
        padding-right: 2.375rem;
        height: 36px;
    }

    .form-control-feedback:before {
        font-size: 21px;
    }

    .has-search .form-control-feedback {
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #aaa;
    }
}

.vtc-blue-color {
    color: #1890FF;
}

.vtc-blue-btn {
    width: 70%;
    background-color: #1890FF;
    border-color: #1890FF;
    float: right;
}

.vtc-blue-cancel-btn {
    width: 25%;
    background: rgba(0, 96, 173, 0.1);
    border-color: rgba(0, 96, 173, 0.1);
}

.my_page h2.lead {
    font-weight: bold;
}

.my_page {
    border-radius: 16px;
}
div .card-body {
    text-align: center;
}

.notification-content {
    box-sizing: border-box;
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.my-profile-course-featured {
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1890FF;
    color: #fff;
    padding: 9px 18px;
    border-radius: 0 0 18px 0;
    font-weight: 500;
}

.image-upload input {
    display: none;
}

.acticve-profile-tab {
    border-radius: 10px;
    border: 1px solid #1890FF;
    color: #1890FF;
    background-color: #F4F7FE;

    > div > div > svg > path {
        fill: #1890FF !important;
    }

    > div > div > svg > g > path {
        fill: #1890FF !important
    }
}

.user_info_button {
    height: 46px;
    border-radius: 10px;

    &:hover {
        color: #1890FF;
        background: #F4F7FE;
        border-radius: 10px;
        border: 1px solid #1890FF;

        > div > div > svg > path {
            fill: #1890FF !important;
        }

        > div > div > svg > g > path {
            fill: #1890FF !important
        }
    }
}

.custom-form-changepassword {
    input {
        height: 48px !important;
    }
}

.custom-back-to-menu {
    padding-top: 10px;
}


.my_profile {
    .my-profile-notification-text-big {
        color: #1890FF;
        font-size: 24px;
        font-weight: 500;
    }

    .my-profile-notification-text {
        color: #000;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
    }
}


.my-profile-notification-header {
    text-align: left;
    color: #212121;
    letter-spacing: 0.014px;
}

.my-profile-notification-message {
    color: rgba(34, 34, 34, 0.8);
    letter-spacing: 0.035px;
}

.my-profile-notification-timestamp {
    text-align: right;
    color: #000;
    letter-spacing: 0.03px;
}

.align-block {
    width: 50%;
    display: inline;
}

.div-profile {
    width: 80%;
    margin: auto;
    gap: 22px;

}

.custom-mypage {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.my-page-hidden-arrow {
    display: none;
}

.my-profile-mobile-tab {
    display: none;
}

.my-profile-web-tab {
    display: block;

    p {
        padding-left: 10px;
    }
}

.password-form {
    p {
        padding-left: 10px;
    }
}

.password-input-container {
    position: relative;
}

.span-password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.img-cfg-password {
    width: 30%;
}

.section-courses {
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

.card-body {
    .password-form {
        text-align: left;
    }

    .my-profile-web-tab {
        text-align: left;
    }
}

.carousel-controls {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.carousel-controls > button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 25px;
    width: 48px;
    height: 48px;
    opacity: 1;
}

.carousel-controls button:hover {
    background-color: white;
    color: black;
}

.btn-search-absolute {
    position: absolute;
    right: 0px;
    background: none;
    border: 0px;
}

a.aalink.coursename:hover {
    text-decoration: none
}

.aalink:focus {
    background-color: white;
    box-shadow: none;
}

.course-rating-star {
    .tool_courserating-stars .icon {
        font-size: 12px;
        margin-right: -2px;
    }

    .course-average-value {
        display: none;
    }

    .course-rating-cntall {
        display: none;
    }

    .tool_courserating-widget {
        padding: 0 !important;
    }
}

.multiline {
    font-size: 11px;
    font-weight: 700;
    color: #0060AD;
}

.custom-user-profile {
    margin: 25px auto;

    .btn-outline-primary:focus, .btn:focus {
        box-shadow: unset !important;
        outline: unset !important;
    }

}

.my-study, .my-certificate {
    .search-category-study-progress {
        width: 50%;
        align-items: center;
        display: flex !important;
        margin-bottom: 16px;
    }

    .search-name-study-progress {
        width: 50%;
        float: right;
        display: flex !important;
        margin-bottom: 16px;
    }

    .button-search-study-progress {
        border-radius: 6.334px;
        background: #FFF;
        box-shadow: 0 0 4.75072px 0 rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        width: 98%;
    }

    .my-study-search-bar {
        display: flex !important;
        margin: 16px;
    }

    .value-search-my-study {
        padding-left: 40px;
    }

    .form-control-feedback {
        left: 0 !important;
        color: black;
    }

    .each-certification {
        flex-basis: 45%;
        height: 160px;
        padding: 16px 16px 20px 16px;
        position: relative;
        background-color: white;
        margin: 0 25px 25px 25px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
    }

    .cerfiticate-img-resize {
        max-width: 190px;
    }
}

.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(33.33% - 0.5rem);
    padding: 0;
}

.mycourse-list-xl {
    display: block;
}

.mycourse-list-lg {
    display: none;
}

.mycourse-list-md {
    display: none;
}

@media screen and (max-width: 1280px) {
    .card-profile {
        padding: 9px !important;
    }
    .div-profile {
        width: 90%;
    }
    .my-profile-mobile-tab {
        color: #202020;
        font-size: 16px;
        font-weight: 400;

        .form-control {
            height: 44px;
        }

        display: block;
    }
    .my-profile-web-tab {
        display: none;
    }
    div .card-body {
        background-color: #fff;
        text-align: center;
    }
    div .card-body.password-form {
        text-align: left !important;
    }
    .btn-mobile {
        margin: auto;
        width: 100% !important;
        flex-basis: 100%;
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .mycourse-list-xl {
        display: none;
    }
    .mycourse-list-lg {
        display: block;
    }
    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        width: calc(50% - 0.5rem) !important;
        padding: 0;
    }

    .btn-mobile-setting {
        flex-basis: 100% !important;
    }
    .img-cfg-password {
        width: 60%;
    }
    .hide-if-mobile {
        display: none !important;
    }
    .show-if-mobile {
        display: block !important;
    }
    .full-width-if-mobile {
        width: 100% !important;
    }
    .my-profile-mobile-label {
        border-radius: 8px;
        background: var(--ffc-107, #fff);
    }
    .card-body .password-form {
        text-align: left;
    }

    .my-profile-mobile-label > label {
        color: darkgrey;
        position: absolute;
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-top: -12px;
        margin-left: 20px;
        border-radius: 15px;
        background: #fff;
        font-size: 12px;
    }

    .my-profile-mobile-label > input & select {
        border: none;
        background: transparent;
    }
    .my-study {
        .search-category-study-progress, .search-name-study-progress {
            width: 100% !important;
            display: block !important;
        }

        .button-search-study-progress {
            width: 100%;
            max-width: 100%;
        }

        .my-study-search-bar {
            display: block !important;
        }
    }
    .my-certificate {
        .cerfiticate-img-resize {
            max-width: 100px;
        }
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .card-body > div .d-flex.flex-column {
        text-align: left;
    }
    .card-body > div > p {
        margin-bottom: 0
    }
    .custom-mypage {
        padding: 0;
        margin: 0;

        .col-md-8 {
            flex: 0 0 63.666667%;
        }

        .col-md-4 {
            flex: 0 0 25.33333333%;
        }
    }
}

@media (max-width: 576px) {
    .form-inline .form-control {
        width: 100%;
    }
    .vtc-blue-btn {
        width: 49% !important;
    }
    .vtc-blue-cancel-btn {
        width: 49% !important;
    }
}


/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .mycourse-list-xl {
        display: none;
    }
    .mycourse-list-lg {
        display: none;
    }
    .mycourse-list-md {
        display: block;
    }
    .custom-user-profile {
        margin: 0;
    }
    .custom-back-to-menu {
        background-color: white;
    }
    .custom-label-error {
        flex-basis: 100%;
    }
    .my-courses {
        border-radius: unset !important;
        background-color: unset !important;
    }
    .my-changepassword {
        .password-form {
            border-radius: 24px 24px 0 0;
            background: #F4F7FE;
            padding: 18px 14px;

            form {
                padding: 0;
            }
        }

        .custom-label-form-profile {
            color: #000;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .pagelayout-mypublic {
        .node_category.card, .card-profile {
            background-color: white;
        }
    }
    .acticve-profile-tab {
        color: unset;
        background-color: unset;
        border: unset;

        > div > div > svg > path {
            fill: black !important;
        }

        > div > div > svg > g > path {
            fill: black !important;
        }
    }
    .div-profile {
        width: 100%;
    }
    .user_info_button {
        border-radius: 8px;
        background: #F3F9FF;
        color: #212121;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;

        > div > div > svg > path {
            fill: #1890FF !important;
        }

        > div > div > svg > g > path {
            fill: #1890FF !important
        }

        &:hover {
            color: unset;
            border: unset;
        }
    }

}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {

}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}


