
                <div class="profile-tab">
                    <h3 class="myprofile">Add organization</h3>
                    
                    <form method="POST" action="">
                        
                        <div class="form-group">
                            <div class="form-label">
                                <label class="label" for="">Organization name</label>
                            </div>
                            <div class="input-container">
                                <input name="name" class="input" type="text" required>
                            </div>
                            
                        </div>
                        
                        <div class="form-group" style="display: flex;">
                            <button type="submit" style="background-color:blue;color:white;padding: 5px;">Add</button>   
                            
                        </div>
                         
                        
                    </form>
                    <a class="btn btn-primary" href="{{listurl}}">Show List</a>
                    
                </div> 

 
