
                <div class="profile-tab">
                    <h3 class="myprofile">List of organizations</h3>                      
					<div class="container">
					    <table class="table">
					        <thead>
					            <tr>
					                <th>ID</th>
					                <th>Name</th>
					                <th>Status</th>
					            </tr>
					        </thead>
					        <tbody>
					        {{#data.orgs}}
					            <tr>
					                <td>{{{id}}}</td>
					                <td>{{{name}}}</td>
					                <td>{{{status}}}</td>
					            </tr>
					         {{/data.orgs}}		
					        </tbody>
					    </table>
					</div> 
					<a class="btn btn-primary" href="{{addurl}}">Add</a>
				</div> 

 
