{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}

<div class="hidden-md">
    <div class="d-flex flex-row custom-login" >
        <div style="position:relative;flex-basis:50%;border-radius: 20px 0 0 20px;background: #EFF7FE;">
            <a href="/">
                <img src="{{logourl}}" alt="" style="position: absolute;top: 5%;left: 0; right: 0 ;width: 70%; margin: auto;"/>
            </a>
            <img src="{{publicimage}}/login/frame.png" style="transform: translate(-50%, -50%);position: absolute;left: 50%;top: 50%;margin: auto;width: 80%;"/>
        </div>
        <div style="flex-basis: 50%">
            <div class="w-100 loginform row " style="box-shadow: unset">
                <div class="col">
                    <p class="text-center font-weight-bold" style="font-size: 35px"> {{#str}}signupnewaccount,theme_moove{{/str}}</p>
                    <div class="login-signup text-center" style="color: #4D4D4D;font-size: 16px;font-weight: 500;">
                        {{#str}}haveanaccount, theme_moove{{/str}} <a class="text-decoration-none" style="color: #1890FF;" href="{{loginurl}}">{{#str}}login, theme_moove{{/str}}</a>
                    </div>
                    <form class="signup-form mt-6 d-flex flex-column" style="gap:16px" action="{{signupurl}}" method="post" autocomplete="off">
                        {{>theme_moove/core/signup_form}}
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="loginform row hidden-lg" style="padding:0;box-shadow: unset">
    <div class="col" style="padding: 0">
        <div style="height: 176px;padding: 1em;background-color: #F2F9FF;">
            <img src="{{logourl}}" alt="" style="width: 100%;">
        </div>
        <div style="height:100vh;position: relative;border-radius: 24px;background: #FFF;box-shadow: 0 -61px 80px 0 rgba(0, 96, 173, 0.15);padding: 0 10px;margin-top: -68px;z-index: 2;">
            <p style="color: #1890FF;text-align: center;font-size: 20px;padding-top: 23px;font-weight: 600;">{{#str}}createnewaccount,theme_moove{{/str}}</p>
            <form class="signup-form mt-3 w-100 d-flex flex-column" style="gap:16px" action="{{signupurl}}" method="post" autocomplete="off">
                {{>theme_moove/core/signup_form}}
            </form>
            <div class="login-signup text-center my-3" style="color: #4D4D4D;font-size: 16px;font-weight: 500;">
                {{#str}}haveanaccount, theme_moove{{/str}} <a class="text-decoration-none" style="color: #1890FF;" href="{{loginurl}}">{{#str}}login, theme_moove{{/str}}</a>
            </div>
        </div>

    </div>

</div>
<div class="modal fade custom-signup-city" tabindex="-1" aria-labelledby="myLargeModalLabel"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="border:unset">
            <div class="modal-header d-flex justify-content-between align-items-center" style="background: #1890FF;padding-right: 30px">
                <!--<input type="text" class="custom-input-search" placeholder="{{#str}}citydesc,theme_moove{{/str}}" style="padding:10px;width: 85%;height: 48px;border-radius: 8px;border: 1px solid #1890FF;background: #FFF;"/>
                <span class="" data-dismiss="modal" aria-label="Close" style="cursor: pointer">
                    <span aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                          <path d="M16 1L1 16M1 1L16 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </span>-->

                <div class="input-group">
                    <input style="padding:20px; border-color: white" type="text" class="form-control custom-input-search" placeholder="{{#str}}citydesc,theme_moove{{/str}}" aria-label="{{#str}}citydesc,theme_moove{{/str}}" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button style="border-color: white;color: white" class="btn" type="button" data-dismiss="modal" aria-label="Close">Chọn</button>
                    </div>
                </div>
            </div>
            <ul style="display:grid;grid-template-columns: repeat(2, minmax(0, 1fr));padding:25px;gap:20px;max-height: 400px;overflow-y: auto;">
                {{#listcity}}
                    <li class="custom-option-city" style="list-style-type: none">
                        <div class="d-flex flex-row align-items-center justify-content-between" style="border-bottom: 1px solid #D9D9D9;padding-bottom: 14px">
                            <div class="name-city" style="color: #000;font-size: 16px;font-weight: 400;">
                                {{{city}}}
                            </div>
                            <label class="custom-label-radiobutton">
                                <input type="radio" name="city_radio" {{choose}} style="display: flex;width: 24px;height: 24px;padding: 2px;justify-content: center;align-items: center;flex-shrink: 0;" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </li>
                {{/listcity}}
            </ul>


        </div>
        <!-- Modal Content: ends -->

    </div>

</div>

<script>
    $(document).ready(function(){
        $('input').on('click',function(){
            $(this).removeClass('error-input');
            $(this).parent().parent().children('.error').addClass('hidden');
        });
        $customoptioncity = $('.custom-option-city');
        $('.custom-signup-city .custom-input-search').on('keyup', function (e) {
            if (e.which === 13) {
            } else {
                var text = $(this).val().toUpperCase().trim();
                if ($(this).val().length === 0) {
                    $customoptioncity.each(function () {
                        $(this).show();
                    });
                } else {
                    $customoptioncity.each(function () {
                        console.log($(this).children().children('.name-city').html().trim(),text);
                        if ($(this).children().children('.name-city').html().trim().toUpperCase().indexOf(text) > -1) {
                            $(this).removeClass('hidden');
                        } else {
                            $(this).addClass('hidden');
                        }
                    });
                }
            }
        });
        $('.checkmark').on('click', function (e) {
            $('input[name="city"]').val($(this).parent().parent().children('.name-city').html().trim())
        })
    });
    var show  = $('.form-control-showpassword');
    var inputpassword =$('.password');
    show.on('click',function(){
        if(inputpassword.attr('type') === 'text'){
            inputpassword.attr('type', 'password');
            show.removeClass("fa-eye");
            show.addClass("fa-eye-slash");
        }else{
            show.addClass("fa-eye");
            show.removeClass("fa-eye-slash");
            inputpassword.attr('type', 'text');
        }
    })

</script>
