<div class="row">
    <div class="col-md-12">
        <h4>{{pluginname}}</h4>
    </div>
    <div class="col-md-12">
        <form action="{{formsearchurl}}" method="GET">
            <input type="hidden" name="course" value="{{courseid}}">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend text-center">
                            <span class="input-group-text text-center" id="basic-addon1" style="background-color: white;border-right: none">
                                <img src="{{publicimage}}/report/search.png" class="img-fluid" alt="Responsive image">
                            </span>
                        </div>
                        <input value="{{username}}" name="username" type="text" class="form-control" placeholder="Tên đăng nhập" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <select name="cohort" class="form-control">
                        {{#enroledCohorts}}
                            {{#selected}}
                                <option selected value="{{id}}">{{name}}</option>
                            {{/selected}}
                            {{^selected}}
                                <option value="{{id}}">{{name}}</option>
                            {{/selected}}
                        {{/enroledCohorts}}
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-primary">
                        <span>
                            <img src="{{publicimage}}/report/search_white.png" class="img-fluid" alt="Responsive image"> <span>Tìm</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<br><br><br>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" rowspan="2" class="text-center">STT</th>
                    <th scope="col" rowspan="2" class="text-center">Tài khoản đăng nhập</th>
                    <th scope="col" rowspan="2" class="text-center">Họ và tên</th>
                    <th scope="col" rowspan="2" class="text-center">ĐỊa chỉ email YTC</th>
                    {{#courseModules}}
                        <th scope="col" colspan="3" class="text-center">{{moduleíntancename}}</th>
                    {{/courseModules}}
                    <th scope="col" rowspan="2" class="text-center">Trạng thái khóa học</th>
                </tr>
                <tr>
                    {{#courseModules}}
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Thời gian</th>
                    <th class="text-center">Điểm</th>
                    {{/courseModules}}
                </tr>
            </thead>
            <tbody>
                {{#enrolers}}
                    <tr>
                        <td>{{stt}}</td>
                        <td>{{username}}</td>
                        <td>{{firstname}} {{lastname}}</td>
                        <td>{{email}}</td>
                        {{#coursemodules}}
                            <td>{{completionstatetitle}}</td>
                            <td>{{timemodifiedformat}}</td>
                            <td>{{grade}}</td>
                        {{/coursemodules}}
                        <td>{{coursecompletetitle}}</td>
                    </tr>
                {{/enrolers}}
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <div class="custom-pagination pagination pagination-centered justify-content-center mt-4">
            {{{enrolerspagination}}}
        </div>
    </div>

</div>
