.course-content-item-content {
    ul.nav-tabs {
        max-height: 530px;
        overflow-y: auto;
    }
}
.custom-carousel-list-teacher{
    .carousel-indicators li {
        border-radius: 10px;
        width: 8px;
        height: 8px;
        background-color: #D9D9D9;
        border:unset;
    }
    .carousel-indicators li.active {
        width: 20px;
        background-color: #1890FF;

    }
}
.custom-list-question-minimap-md {
    #custom-accordion.show {
        + .card-header .custom-quiz-btn-review {
            img {
                transform: rotate(180deg);
            }
        }

        + .card-header {
            border-radius: 0 !important;
        }

    }
    .custom-quiz-btn-review{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 83px;
    }
}

.custom-course-modal-document {
    .modal-dialog {
        max-width: unset !important;
        width: 53.07vw;

        .modal-content {
            padding: 1.2vw 1.82vw 1.77vw 1.82vw;
            width: 100%;

            ul {
                padding: 0;
                gap: 1.3vw;

                li {
                    color: black;
                    flex-shrink: 0;
                    border-radius: 10px;
                    background: #ECECEC;
                    box-shadow: 0 50px 80px 0 rgba(0, 0, 0, 0.05);
                    padding: 0.7vw 1.1vw;

                    button {
                        color: white;
                        border-radius: 8px;
                        border: 1px solid #188EFB;
                        background: #188EFA;
                        font-size: 1vw;
                    }
                }
            }
        }

    }
}

.custom-course-modal-button-footer {
    width: 15.15vw;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
}

.custom-course-modal-button-footer:hover {
    color: white;
}

.custom-course-modal-button-footer:focus {
    box-shadow: unset;
}

.custom-coursecategory {
    .hidden-md {
        .custom-banner {
            height: 21.9vw;
            object-fit: cover;
        }
    }

    .hidden-lg {
        .custom-banner {
            height: 35.4vw;
            object-fit: cover;
        }
    }

    .result-search {
        width: 60%;
        margin: auto;
        color: #14142B;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .custom-pagination {
        .page-link {
            color: #1890FF;
            font-size: 20px;
            font-weight: 500;
            border-radius: 8px;
            background: #F7F9FA;
            border: unset;
        }

        .page-link:focus {
            box-shadow: unset !important;
        }

        .page-item.active .page-link {
            background-color: #1890FF;
            color: #fff;
        }
    }

    .custom-category-search {
        width: 45%;
        left: 50%;
        top: 50% !important;
        transform: translate(-50%, -50%);
        text-align: center;

        p {
            color: #FFF;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 36px;
        }

        .has-search .form-control {
            padding-right: 2.375rem;
            height: 45px;
        }

        .form-control-feedback:before {
            font-size: 21px;
        }

        .has-search .form-control-feedback {
            cursor: pointer;
            position: absolute;
            right: 0;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 45px;
            line-height: 45px;
            text-align: center;
            color: #aaa;
        }
    }

    .category-custom-breadcums {
        width: 70%;

        .custom-title-subcategory{

        }

        .dropdown-item:hover {
            background: rgba(24, 144, 255, 0.12) !important;
            color: #1890FF !important;
        }

        .dropdown-item.true {
            background: rgba(24, 144, 255, 0.12) !important;
            color: #1890FF !important;
        }

        .category-custom-breadcums-left {
            color: #1890FF;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
        }

        .category-custom-breadcums-right {
            color: #1890FF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }

        .category-button-custom {
            border: 1px solid #E0E0E0;
            color: black;
            margin: 0 10px;
            font-size: 16px;
            font-weight: 400;
            background-color: #E0E0E0;
            border-radius: 15px;
            padding: 10px 25px;


        }

        .category-button-custom.true {
            border: 1px solid #1890FF;
            background-color: #CEE9FF;
            color: #1890FF;

            path {
                fill: #1890FF;
            }
        }

        .category-button-custom:hover {
            border: 1px solid #1890FF;
            background-color: #CEE9FF;
            color: #1890FF;

            path {
                fill: #1890FF;
            }
        }

        .category-button-custom:focus {
            box-shadow: unset;
        }

        .show > .btn-secondary.dropdown-toggle {
            background-color: white !important;
        }

        .btn-secondary:not(:disabled):not(.disabled):active:focus {
            box-shadow: unset;
        }

        .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: unset;

        }

        .dropdown-toggle {
            background-color: white;

            .dropdown-item {
                background-color: white !important;
                color: black;
            }

            .dropdown-item:hover {
                background-color: white !important;
            }
        }

        .dropdown-menu {

        }

    }

    .list-category {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 75%;
        margin: auto;
        gap: 24px;

        p {
            margin-bottom: 0;
        }

        .custom-category {
            padding: 0.88vw;
            background-color: white;
            border-radius: 18px;

            img {
                height: 21.9vw;
                max-height: 205px;
                object-fit: cover;
                border-radius: 21px;
            }

            .custom-label-category {
                text-align: center;
                font-size: 15px;
                position: absolute;
                font-weight: 400;
                left: 0;
                top: 0;
                background-color: #1890FF;
                color: white;
                padding: 9px 18px;
                border-radius: 18px 0 18px 0;
            }

            .custom-label-time {
                cursor: default;
                border-radius: 24px;
                background: rgba(2, 104, 187, 0.71);
                bottom: 6%;
                left: 4%;
                font-size: 0.83vw;
                color: white;
            }

            .custom-label-category-outstanding {
                text-align: center;
                font-size: 13px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #FF0500;
                color: white;
                padding: 9px 18px;
                border-radius: 18px 0 18px 0;
            }

            .custom-label-category-latest {
                text-align: center;
                font-size: 13px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #1890FF;

                color: white;
                padding: 9px 18px;
                border-radius: 18px 0 18px 0;
            }
        }

        .custom-category a:focus {
            box-shadow: unset;
            background-color: unset;
            outline: none;

        }

        .course-custom-summary {
            height: 97px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: 400;
            font-size: 16px;
            color: #6D6D6D;
        }

        .course-custom-footer {
            button {
                border-radius: 24px;
                background-color: rgba(2, 104, 187, 0.10);
                padding: 10px 19px;
                color: #1890FF;
                font-size: 16px;
                font-weight: 500;
            }

            button:focus {
                outline: none !important;
                box-shadow: none !important;
            }

            p {
                color: #8C8C8C;
                font-size: 16px;
            }
        }
    }
}

.custom-course {
    display: flex;
    flex-direction: row;
    padding: 1.51vw 1.09vw;

    a {
        text-decoration: none;
    }

    .btn.btn-icon {
        background-color: unset !important;
    }

    .btn:focus {
        box-shadow: none !important;
    }

    //.section .activity .actions {
    //    top: 50% !important;
    //    transform: translate(-50%, -50%);
    //}
}

.custom-list-activity {
    background-color: #F4FAFF;
    border-radius: 16px;

    .activityiconcontainer {
        height: 3.17vw;
        width: 5.10vw;
        padding: 0;
        overflow: hidden;
    }

    .vtc {
        padding: 20px 32px 0 32px;
    }

    .section .activity {
        background-color: #F4FAFF;
    }
}

.custom-content-div {
    margin-top: 1.25vw;
}

.custom-course-layout {
    div[role="main"] {
        padding: 0 !important;
    }
}

.custom-form-self-enrol {
    .generalbox {
        float: unset !important;
        width: unset !important;
    }

    fieldset {
        border-bottom: unset !important;

        div.align-items-center {
            display: none !important;
        }

        .fcontainer {
            .fitem {
                justify-content: center !important;
                gap: 15px;

                .col-md * {
                    width: unset !important;
                }

                .felement {
                    flex-direction: column !important;
                }
            }

            #fitem_id_info, #fitem_id_nokey {
                .col-form-label {
                    display: none !important;
                }
            }
        }

    }

    #fitem_id_submitbutton {
        div:first-child {
            display: none !important;
        }

        justify-content: space-around;
    }
}

.custom-course-banner {
    //max-height: 225px;
    color: white;
    border-radius: 24px;
    padding: 1.35vw 2.29vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 665px 0 250px 8px #0060AD inset, 50px 0 80px 0 rgba(0, 0, 0, 0.05);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    .banner-label {
        flex-wrap: wrap;
        padding: 8px 15px;
        border-radius: 48px;
        background-color: white;
        color: #1890FF;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

    }

    .custom-course-summary {
        width: 50%;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        p {
            margin-bottom: 0 !important;
        }
    }

}

.activity-item-custom .activity-actions {
    margin: auto !important;
}

.activity-item-custom {
    border-radius: 12px;
    background-color: #ECECEC !important;
    padding: 15px !important;

    .aalink {
        font-size: 1.04vw;
        color: black;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .aalink:focus {
        background-color: unset;
        box-shadow: none;
        outline: none;
    }
}

.activity-item-custom:hover:not(.active) {
    background-color: #B4DDFF !important;;
}

.activity-item-custom.active {
    background-color: #0084FF !important;

    .aalink {
        color: white !important;
    }
}

.custom-activity-detail {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    font-size: 20px;

    .progress {
        height: 1vw;
    }

    .activity-detail-title {
        font-size: 20px;
        color: black;
    }

    .custom-course-time {
        padding: 8px 15px;
        border-radius: 48px;
        background-color: rgb(2, 104, 187, 0.1);
        color: #1890FF;
        font-size: 0.9vw;
    }

    .activity-button {
        text-align: center;
        display: block;
        font-size: 1.2vw;
        color: white;
        font-weight: 500;
        width: 60%;
        padding: 7px;
        background-color: #1890FF;
        border-radius: 10px;
    }
}

.editing .activity-item:hover .activityiconcontainer {
    mix-blend-mode: unset !important;
}

.custom-course-mainpage {
    background-color: #F2F3F7 !important;
    width: 67.3vw !important;
    padding-left: 21px !important;
    padding-right: 21px !important;
}

.custom-region-main-course {
    height: 100%;

    div[role="main"] {
        height: 100%;

        .course-content {
            height: 100%;

            .stateready {
                height: 100%;

                div {
                    height: 100%;
                }
            }
        }
    }
}

.custom-course-breadcums {
    font-size: 1.04vw;
    font-weight: 500;

    a {
        color: #1890FF !important;
    }

    a:focus {
        box-shadow: unset;
        background-color: unset;
        outline: unset;
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
    }
}

.custom-course-teacher {
    margin-top: 64px;

    .custom-title {
        font-weight: 600;
        font-size: 2.25vw;
        color: #1890FF;
    }

    .custom-title-content {
        font-weight: 400;
        font-size: 1.53vw;
        color: black;
        margin-bottom: 0;
    }

    .custom-course-teacher-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: center;

        .custom-course-teacher-list-item {
            flex-basis: 32%;
            margin-top: 2%;
            background-color: white;
            border-radius: 11px;
            padding: 10px;

            .avatar {
                width: 100%;
                height: 11.4vw;
                object-fit: cover;
                border-radius: 10px
            }

            .name {
                color: black;
                font-size: 20px;
                margin-top: 10px
            }

            .description {
                color: #ACACAC;
                font-size: 14px;
            }

            .footer {
                display: flex;
                justify-content: space-between;
                color: #ACACAC;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .custom-course-teacher {
        margin-top: 64px;

        .custom-title {
            font-weight: 600;
            font-size: 2.25vw;
            color: #1890FF;
        }

        .custom-title-content {
            font-weight: 400;
            font-size: 1.53vw;
            color: black;
            margin-bottom: 0;
        }

        .custom-course-teacher-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2%;
            justify-content: center;

            .custom-course-teacher-list-item {
                flex-basis: 32%;
                margin-top: 2%;
                background-color: white;
                border-radius: 11px;
                padding: 10px;

                .avatar {
                    width: 100%;
                    height: 15.4vw;
                    object-fit: cover;
                    border-radius: 10px
                }

                .name {
                    color: black;
                    font-size: 20px;
                    margin-top: 10px
                }

                .description {
                    color: #ACACAC;
                    font-size: 14px;
                }

                .footer {
                    display: flex;
                    justify-content: space-between;
                    color: #ACACAC;
                    font-size: 14px;
                }
            }
        }
    }
    .custom-activity-detail {
        .activity-button {
            font-size: 1.7vw;
        }

        .custom-course-time {
            font-size: 1.4vw;
        }
    }
    .custom-coursecategory {
        .list-category {
            width: 90%;
        }

    }
    .custom-course-mainpage {
        width: 95% !important;
    }
    .activity-item-custom {
        padding: 10px !important;

        .aalink {
            font-size: 1.5vw;
        }
    }
    .custom-coursecategory {
        .list-category {
            .custom-category {
                .custom-label-time {
                    font-size: 1.83vw;
                }
            }
        }


    }
}


/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .custom-course-modal-button-footer {
        font-size: 15px;
    }
    .custom-course-modal-document {
        .modal-dialog {
            max-width: unset !important;
            width: 73.07vw;

            .modal-content {
                ul {
                    li {
                        button {
                            font-size: 1.5vw;
                        }
                    }
                }
            }
        }
    }
    .custom-course-banner {
        .banner-label {
            font-size: 1.6vw;
            padding: 5px 10px;
        }

    }
    .custom-course-breadcums {
        font-size: 1.6vw;
    }
    .custom-coursecategory {
        .custom-category-search {
            p {
                margin-bottom: 15px;
            }
        }

        .category-custom-breadcums {
            width: 90%;
        }

        .list-category {
            grid-template-columns:repeat(2, minmax(0, 1fr));
            width: 95%;
        }
    }
    .custom-list-activity {
        border-radius: 8px;

        .activityiconcontainer {
            height: 5.17vw;
            width: 7.1vw;
        }
    }
}

@media screen and (max-width: 820px) {
    .custom-course-mainpage {
        width: 95% !important;
    }


}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .custom-coursecategory {
        .category-custom-breadcums {
            width: 90%;

            .category-button-custom {
                font-size: 11px
            }
        }

        .list-category {
            .custom-category {
                .custom-label-time {
                    font-size: 12px;
                }
            }

            .course-custom-footer {
                button {
                    font-size: 13px;
                    padding: 7px 13px;
                }

            }
        }

    }
    .custom-course-banner {
        padding: 10px 20px;

        .banner-label {
            font-size: 11px;
        }
    }


}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .custom-coursecategory {
        .list-category {
            gap: 16px;
        }
    }
    .activity-item-custom {
        background-color: white !important;
        padding: 11px 0 11px 16px !important;
        border: unset !important;
        border-radius: unset;
        //height: 21.02vw;
        height: 100%;
        .aalink {
            font-size: 3.73vw;
        }
    }
    .custom-course-breadcums {
        font-size: 3.27vw;
        padding-left: 10px;
    }
    .custom-button-filter {
        .dropdown-menu .show {
            right: 0;
            left: unset !important;
        }
    }
    .custom-navbar .navbar-user .dropdown-menu {
        right: 0;
        left: unset !important;
    }
    .custom-coursecategory {
        .custom-category-search {
            width: 70%;
            top: 65% !important;

            p {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .category-custom-breadcums-left {
                margin-bottom: 10px;

                a {
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                }

            }
        }

        .category-custom-breadcums {
            width: 95%;

            .category-custom-breadcums-left {
                display: none;
            }

            .category-custom-breadcums-right {
                font-size: 14px;
            }
        }

        .list-category {
            grid-template-columns:repeat(1, minmax(0, 1fr));

            .custom-category {
                padding: 10px 8px;
                border-radius: 8px;

                .custom-label-category-outstanding, .custom-label-category-latest {
                    font-size: 12px;
                    padding: 6px 12px;
                }
            }
        }

    }
    .custom-course {
        flex-direction: column;
        padding: 0;
    }
    .custom-content-div {
        padding: 0 !important;
        border-radius: 0;
        margin-top: 3.03vw;

    }
    .custom-course-banner {
        border-radius: 0;

        .custom-course-summary {
            width: 100%;
        }
    }
    .custom-list-activity {
        background-color: white !important;
        border-radius: 8px;

        .activityiconcontainer {
            height: 15.5vw;
            width: 25.67vw;
            padding: 0;
            overflow: hidden;
        }

        .vtc {
            padding: 0;
            margin: 0;
        }

        .section {
            .activity {
                background-color: white;
                padding: 0;
            }
        }
    }
    .custom-course-mainpage {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .course-content {
            width: 96%;
            margin: auto;
        }
    }
    .custom-course-teacher {
        .custom-title {
            font-size: 4.73vw;
        }

        .custom-title-content {
            width: 70.5vw;
            margin: auto;
            font-size: 3.57vw;
        }

        .custom-course-teacher-list {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    .custom-activity-detail {
        padding: 3.03vw 3.73vw;
        width: 98%;
        margin: auto;

        .progress {
            height: 2.1vw;
        }

        .custom-course-time {
            font-size: 3.27vw;
        }

        .activity-detail-title {
            font-size: 3.73vw;
        }

        .activity-button {
            width: 100%;
            font-size: 3.73vw !important;
            border-radius: 8px;
            box-shadow: 0 0 16px 0 rgba(24, 144, 255, 0.40);
        }
    }


}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    .custom-coursecategory {
        .category-custom-breadcums {
            width: 95%;
        }
    }

    .custom-course-mainpage {
        width: 95% !important;
    }
}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}


@media screen and (min-width: 481px) and (max-width: 836px) {
    .custom-coursecategory{
        .custom-category-search{
            p{
                font-size: 20px;
            }
        }
        .category-custom-breadcums{
            .custom-title-subcategory{
                display: none !important;
            }
            .hidden-lg.custom-filter-course-state{
                display: block !important;
            }
            .hidden-md.custom-filter-course-state{
                display: none !important;
            }
        }
    }

}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
