.carouselListCategories.custom-carousel-mycourse {
    height: auto !important;
    width: 92% !important;
}

.carouselListCourseOutstanding.custom-carousel-mycourse {
    height: auto !important;
    width: 92% !important;
}

.list-categories-body {
    height: 360px;
}

.list-course-outstanding-body {
    //height: 470px;
}

.carouselListCategories {
    .dashboard-card-img {
        min-height: 231px;

        .card-course-outstanding {
            background: rgba(2, 104, 187, 0.71);
            border-radius: 15px;
            padding: 6px 10px;
            position: absolute;
            bottom: 6%;
            left: 4%;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            gap: 5px !important;
        }

        .card-course-outstanding-label {
            background-color: #FF0500;
            font-size: 16px
        }
    }

    .my-profile-course-featured {
        font-size: 16px !important;
    }
}

.carouselListCourseOutstanding {
    .dashboard-card-img {
        min-height: 200px;

        .card-course-outstanding {
            background: rgba(2, 104, 187, 0.71);
            border-radius: 15px;
            padding: 6px 10px;
            position: absolute;
            bottom: 6%;
            left: 4%;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            gap: 5px !important;
        }

        .card-course-outstanding-label {
            background-color: #FF0500;
            font-size: 16px
        }
    }

    .my-profile-course-featured {
        font-size: 16px !important;
    }
}

.custom-homepage {
    .custom-homepage-list-infor {
        gap: 10px;
        position: relative;
        z-index: 2;
        border-radius: 24px;
        width: 83vw;
        padding: 2.7vw 4.3vw;
        box-shadow: 0 0 80px 0 rgba(0, 96, 173, 0.15);

        img {
            width: 4vw;
            height: 4vw;
        }

        .custom-title {
            font-size: 1.45vw;
            color: #4D4D4D;
            font-weight: 600;
            min-width: 140px;
        }

        .custom-title-content {
            color: #717171;
            font-size: 1.04vw;
            font-weight: 400;
        }
    }

    .custom-homepage-feature-blog {
        z-index: 3;
        width: 83vw;
        margin: 2.86vw auto 0 auto;

        .list-categories {
            .big-title {
                color: #1890FF;
                text-align: center;
                font-size: 1.7vw;
                font-weight: 700;
                text-transform: uppercase;
            }

            .big-title-des {
                color: #39404F;
                text-align: center;
                font-size: 1.25vw;
                font-weight: 500;
            }
        }

        p {
            margin-bottom: 0 !important;
        }

        .custom-feature-big {
            flex-basis: 55%;

            .big-title {
                font-weight: 600;
                font-size: 2.1vw;
                width: 24.5vw;
                color: black;
                margin-right: auto;
                margin-left: auto
            }

            .big-title-des {
                font-size: 1.25vw;
                width: 24.5vw;
                font-weight: 400;
                color: black;
                margin-right: auto;
                margin-left: auto
            }
        }

        .image {
            width: 35.1vw;
            height: 30.7vw;
        }

        .custom-feature-list {
            flex-basis: 45%;
            gap: 2vw;
            flex-wrap: wrap;
            justify-content: center;

            .custom-feature-div {
                width: 46%;
                padding: 2.7vw 1.7vw;
                border-radius: 14px;
                background: #FFF;
                box-shadow: 0 9.329438209533691px 37.317752838134766px 0 rgba(0, 96, 173, 0.15);

                img {
                    width: 50px;
                    height: 50px;
                    margin: 10px auto 0 auto;
                }

                .feature-title {
                    padding: 1vw 0;
                    color:  #1890FF;
                    font-size: 0.93vw;
                    font-weight: 700;
                }

                .feature-description {
                    color: #9BA2AE;
                    font-weight: 400;
                    font-size: 0.72vw;
                    text-align: center;
                }
            }

        }

    }

    .custom-homepage-outstanding {
        position: relative;
        z-index: 2;
        width: 83vw;
        margin: auto;
        padding-top: 13%;

        .list-course {
            margin-top: 2.6vw;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1.87vw;

            a:focus {
                background-color: unset;
                box-shadow: unset;
            }

            img {
                width: 100%;
                height: 15.6vw;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .custom-title {
            font-weight: 600;
            font-size: 2.1vw;
            color: #222222
        }

        .custom-title-des {
            color: #525252;
            text-align: center;
            font-size: 1.7vw;
            font-weight: 400;
            width: 52.6vw;
            margin: 1vw auto;

        }
    }

    .custom-homepage-student-comment {
        position: relative;
        z-index: 2;
        width: 83vw;
        margin: auto;
        padding-top: 14%;

        .comment-bigtitle {
            font-weight: 600;
            font-size: 2.1vw;
            color: #222222
        }

        .comment-bigtitle-des {
            font-weight: 400;
            font-size: 1.7vw;
            color: #525252;
            width: 27.4vw
        }

        .custom-homepage-student-comment-list {
            gap: 30px;
            margin-bottom: 2.6vw;
            margin-top: 5.05vw;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));

            p {
                margin-bottom: unset;
            }

            .comment-div {
                border-radius: 13px;
                padding: 1.6vw 2.4vw;
                background: #FFF;
                box-shadow: 0 5.337430953979492px 125.42964172363281px 0 rgba(0, 0, 0, 0.05);

                .comment-image {
                    width: 6.25vw;
                    height: 6.25vw;
                }

                .comment-title {
                    font-weight: 600;
                    font-size: 1.25vw;
                    color: #000000;
                    margin-bottom: 0.83vw;
                }

                .comment-button {
                    padding: 0.46vw 2.5vw;
                    font-size: 1vw;
                    font-weight: 400;
                    color: #DC0000;
                    width: fit-content;
                    border-radius: 0.52vw;
                    background: rgba(220, 0, 0, 0.10);
                }

                .comment-des {
                    font-weight: 400;
                    font-size: 0.93vw;
                    color: #525252;
                }

                .comment-view-course {
                    color: #1890FF;
                    font-size: 0.83vw;
                    font-weight: 500;
                }
            }
        }

        .carousel-controls {
            width: 7rem;
            right: 2%;
            top: 38%;

            .carousel-control-next:focus,
            .carousel-control-prev:focus {
                color: #0a0a0a;
            }

            .carousel-control-prev,
            .carousel-control-next, {
                font-size: 25px;
                border-radius: 48px;
                background: #FFF;
                box-shadow: 0 6.28195px 37.69169px 0 rgba(0, 0, 0, 0.12);
            }
        }

        .custom-homepage-student-comment-carousel {
            height: 550px;
            margin-bottom: 1rem;

            .carousel-inner {
                overflow: unset;
                height: 475px;

                .carousel-item {
                    .d-flex {
                        padding: 10px;
                        gap: 24px;
                    }
                }
            }

            .comment-div:nth-child(2) {
                top: 30px;
            }

            .comment-div {
                flex-shrink: 1;
                border-radius: 13px;
                padding: 1.6vw 2.4vw;
                background: #FFF;
                box-shadow: 0 5.337430953979492px 125.42964172363281px 0 rgba(0, 0, 0, 0.05);

                .comment-image {
                    width: 6.25vw;
                    height: 6.25vw;
                }

                .comment-title {
                    font-weight: 600;
                    font-size: 1.25vw;
                    color: #000000;
                    margin-bottom: 0.83vw;
                }

                .comment-button {
                    padding: 0.46vw 2.5vw;
                    font-size: 1vw;
                    font-weight: 400;
                    color: #DC0000;
                    width: fit-content;
                    border-radius: 0.52vw;
                    background: rgba(220, 0, 0, 0.10);
                }

                .comment-des {
                    font-weight: 400;
                    font-size: 0.93vw;
                    color: #525252;
                    margin-top: 1.3vw
                }

                .comment-view-course {
                    color: #1890FF;
                    font-size: 0.83vw;
                    font-weight: 500;
                }
            }
        }

    }
}

.custom-homepage-carousel {
    height: 18.69vw;

    .custom-homepage-carousel-item {
        height: 100%;

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .custom-slider1-text {
            left: 6vw;
            top: 2vw;

            .custom-slider1-text1 {
                color: #FFFFFF;
                font-size: 1.97vw;
                font-weight: 900;

            }

            .custom-slider1-text2 {
                width: 27.5vw;
                margin-top: 1.2vw;
                color: #FFFFFF;
                font-size: 1.25vw;
                font-weight: 400;
                margin-bottom: 0;
            }

            form {
                margin-top: 31px;

                .fa-search {
                    justify-content: center;
                    align-items: center;
                    display: flex !important;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    z-index: 2;
                    width: 56px;
                    height: 56px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 24px;
                    color: #0F335E;
                }

                input {
                    border-radius: 60px;
                    background: #FFF;
                    height: 56px;
                    font-size: 20px;
                    padding: 0 46px;
                    color: #0F335E;
                }

                input::placeholder {
                    color: #0F335E;
                    opacity: 1;
                }

                button {
                    cursor: pointer;
                    position: absolute;
                    right: 5px;
                    top: 48%;
                    transform: translateY(-48%);
                    z-index: 2;
                    display: block;
                    text-align: center;
                    border-radius: 53.017px;
                    background: #1890FF;
                    width: 122px;
                    height: 48px;
                    align-items: center;
                    border: unset;
                    color: #fff;
                }
            }
        }

    }
}

.signup-form {
    input {
        font-size: 16px !important;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .signup-label {
        margin-bottom: 10px !important;
    }
}

.custom-homepage-banner-3 {
    top: 43vw;
}

.custom-signup-city {
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 1280px) {
    .list-categories-body {
        height: 289px;
    }
    .list-course-outstanding-body {
        //height: 426px;
    }
    .carouselListCategories, .carouselListCourseOutstanding {
        .dashboard-card-img {
            min-height: unset;
        }
    }
    .carouselListCategories, .carouselListCourseOutstanding {
        .dashboard-card-img {
            .card-course-outstanding {
                font-size: 1.75vw !important;
            }

            .card-course-outstanding-label {
                font-size: 1.75vw !important;
            }
        }

        .my-profile-course-featured {
            font-size: 1.75vw !important;
        }
    }
    .custom-homepage {
        .custom-homepage-feature-blog {
            .custom-feature-list {
                .custom-feature-div {
                    .feature-title {
                        font-size: 1.2vw;
                    }

                    .feature-description {
                        font-size: 0.93vw;
                    }
                }
            }

            .list-categories {
                .big-title {
                    font-size: 2.1vw;
                }

                .big-title-des {
                    font-size: 1.75vw;
                }
            }
        }

        .custom-homepage-student-comment {
            .carousel-controls {
                top: 33%;
            }

            .custom-homepage-student-comment-carousel {
                height: 430px;

                .carousel-inner {
                    height: 430px;

                    .carousel-item {
                        .d-flex {
                            padding: 10px;
                            gap: 10px !important;

                            .comment-div {
                                .comment-des {
                                    font-size: 1.25vw;
                                }

                                .comment-title {
                                    font-size: 1.35vw;
                                }

                                .comment-view-course {
                                    font-size: 1.1vw;
                                }
                            }
                        }
                    }
                }
            }

            .custom-homepage-student-comment-list {
                .comment-div {
                    .comment-des {
                        font-size: 1.1vw;
                    }
                }
            }

        }
    }
    .custom-homepage-carousel {
        .custom-homepage-carousel-item {
            .custom-slider1-text {
                form {
                    button {
                        right: 4px;
                        top: 48%;
                    }
                }
            }
        }
    }
}


/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .custom-homepage {
        .custom-homepage-list-infor, .custom-homepage-feature-blog, .custom-homepage-outstanding, .custom-homepage-student-comment {
            width: 90vw;
        }

        .custom-homepage-list-infor {
            .custom-title {
                font-size: 1.95vw;
            }

            .custom-title-content {
                font-size: 1.54vw;
            }
        }

        .custom-homepage-feature-blog {
            .custom-feature-big {
                flex-basis: 51%
            }

            .custom-feature-list {
                flex-basis: 49%;

                .custom-feature-div {
                    .feature-description {
                        font-size: 1.25vw;
                    }
                }
            }
        }

        .custom-homepage-student-comment {
            .carousel-controls {
                top: 30%;
                width: 5rem;

                .carousel-control-prev,
                .carousel-control-next, {
                    width: 37px;
                    height: 37px;
                    font-size: 15px;
                }
            }

            .custom-homepage-student-comment-carousel {
                height: 330px;

                .carousel-inner {
                    height: 330px;

                    .carousel-item {
                        .d-flex {
                            padding: 10px;
                            gap: 17px;
                        }
                    }
                }
            }

            .custom-homepage-student-comment-list {
                .comment-div {
                    .comment-view-course {
                        font-size: 1vw;
                    }
                }
            }

            .comment-bigtitle-des {
                width: 100%;
            }
        }
    }
    .custom-homepage-carousel {
        .custom-homepage-carousel-item {
            .custom-slider1-text {
                form {
                    margin-top: 10px;

                    .fa-search {
                        width: 35px;
                        height: 35px;
                        font-size: 19px;
                    }

                    input {
                        height: 35px;
                        font-size: 15px;
                        padding: 0 33px;
                    }

                    button {
                        width: 83px;
                        height: 30px;
                        font-size: 10px;
                    }
                }
            }

        }
    }

}


/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .list-categories-body {
        height: 289px;
    }
    .list-course-outstanding-body {
        //height: 426px;
    }
    .custom-carousel-mycourse {
        height: 440px !important;

        .carousel-item {
            .d-flex {
                gap: 18px !important;
            }
        }
    }
    .custom-homepage {
        .custom-homepage-list-infor {
            width: 90vw;
        }

        .custom-homepage-feature-blog {
            .custom-feature-big {
                flex-basis: 47%
            }

            .custom-feature-list {
                flex-basis: 53%;
            }
        }

        .custom-homepage-student-comment {
            .carousel-controls {
                top: 30%;
                width: 5rem;

                .carousel-control-prev,
                .carousel-control-next, {
                    width: 30px;
                    height: 30px;
                    font-size: 15px;
                }
            }

            .custom-homepage-student-comment-carousel {
                height: 280px;

                .carousel-inner {
                    height: 290px;

                    .carousel-item {
                        .d-flex {
                            padding: 10px;
                            gap: 14px;
                        }
                    }
                }
            }

            .comment-bigtitle-des {
                width: 100%;
            }

        }
    }
    .custom-homepage-carousel {
        .custom-homepage-carousel-item {
            .custom-slider1-text {
                form {
                    button {
                        right: 3px;
                        top: 48%;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .usermenu {
        .login {
            button {
                font-size: 12px;
            }
        }

    }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .custom-homepage-carousel {
        .custom-homepage-carousel-item {
            .custom-slider1-text {
                form {
                    margin-top: 10px;

                    .fa-search {
                        width: 29px;
                        height: 29px;
                        font-size: 12px;
                    }

                    input {
                        height: 29px;
                        font-size: 10px;
                        padding: 0 60px 0 25px;
                    }

                    button {
                        width: 16vw;
                        height: 23px;
                        font-size: 9px;
                    }
                }
            }

        }
    }

    .list-categories-body {
        height: 289px;
    }
    .list-course-outstanding-body {
        //height: 426px;
    }
    .carouselListCategories, .carouselListCourseOutstanding {
        .dashboard-card-img {
            .card-course-outstanding {
                font-size: 10px;
            }

            .card-course-outstanding-label {
                font-size: 10px
            }
        }

        .my-profile-course-featured {
            font-size: 10px !important;
        }
    }

    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        width: calc(100%) !important;
        padding: 0;
    }
    .custom-signup-city {
        .modal-dialog {
            width: 90% !important;
        }
    }
    .custom-homepage-banner-3 {
        top: 55.6vw;
    }
    .custom-homepage-carousel {
        height: 37.6vw;

        .custom-homepage-carousel-item {
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .custom-slider1-text {
                left: 4.7vw;
                top: 3.17vw;

                .custom-slider1-text1 {
                    width: 59.4vw;
                    font-size: 17px;
                    margin-bottom: 0;
                }


            }
        }

    }
    .custom-homepage {
        .custom-homepage-list-infor {
            display: grid !important;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding: 5.8vw 6.8vw;
            gap: 30px;

            img {
                width: 11.2vw !important;
                height: 11.2vw !important;
            }

            .custom-title {
                font-size: 3.7vw;
            }

            .custom-title-content {
                font-size: 3.27vw;
            }

        }

        .custom-homepage-feature-blog {
            .list-categories {
                .big-title {
                    font-size: 4.7vw;
                }

                .carousel-control-prev {
                    left: -27px;
                }

                .carousel-control-next {
                    right: -27px;
                }

                .big-title-des {
                    font-size: 3.55vw;
                }
            }

            .custom-feature-big {
                .big-title {
                    font-size: 4.7vw;
                    color: #1890FF;
                    width: 100%;
                    text-align: center;
                    margin: auto;
                }

                .big-title-des {
                    font-size: 3.7vw;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 15px;
                    padding-top: 14px;

                }
            }

            .image {
                width: 71vw;
                height: 66.1vw;
                margin: 20px auto;
            }

            .custom-feature-list {
                flex-wrap: nowrap;

                > div {
                    gap: 3.7vw !important;

                    > div {
                        gap: 3.7vw !important;
                    }
                }

                .custom-feature-div {
                    width: 100%;
                    padding: 15px 20px;
                    gap: 10px;

                    .feature-title {
                        padding: 0;
                        text-align: start !important;
                        color: #1890FF;
                        font-size: 3.73vw;
                        font-weight: 500;
                    }

                    .feature-description {
                        color: #000;
                        font-size: 3.2vw;
                        font-weight: 400;
                        margin-bottom: 0;
                        text-align: left;
                    }
                }
            }

        }

        .custom-homepage-outstanding {
            .custom-title {
                font-size: 3.7vw;
                width: 90vw;
            }

            .custom-title-des {
                font-size: 3.7vw;
                width: 90vw;
            }

            .list-course {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                margin-top: 5.6vw;
                gap: 3.7vw;

                img {
                    height: 25.7vw;
                }
            }
        }

        .custom-homepage-student-comment {
            .custom-homepage-student-comment-carousel {
                .carousel-inner {
                    height: 260px;

                    .carousel-item {
                        .d-flex {
                            padding: 10px;
                            gap: 14px;
                        }
                    }
                }
            }

            .comment-bigtitle {
                text-align: center;
                font-size: 4.7vw;
                text-transform: uppercase;
                color: #1890FF;
            }

            .comment-bigtitle-des {
                font-size: 3.7vw;
                text-align: center;
            }

            .custom-homepage-student-comment-list {

                grid-template-columns: repeat(1, minmax(0, 1fr));

                .carousel-indicators li {
                    border-radius: 10px;
                    width: 8px;
                    height: 8px;
                    background-color: #D9D9D9;
                    border: unset;
                }

                .carousel-indicators li.active {
                    width: 20px;
                    background-color: #1890FF;

                }

                .comment-div {
                    border-radius: 10px;
                    padding: 4.9vw 4.2vw;
                    height: 54.9vw;

                    .comment-image {
                        width: 15vw;
                        height: 15vw;
                    }

                    .comment-title {
                        font-size: 3.7vw;
                    }

                    .comment-button {
                        padding: 1.86vw 3.03vw;
                        font-size: 3.2vw;
                        border-radius: 8px;
                    }

                    .comment-des {
                        font-size: 3.7vw;
                        margin-top: 5px;
                    }

                    .comment-view-course {
                        font-size: 3.27vw;
                    }
                }

            }

        }

    }

}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {

}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}
