.custom-login {
  width: 70%;
  margin: auto;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 80px 0 rgba(0, 96, 173, 0.15);
  max-width: 1024px;
  .signup-label {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
  }
  .error-input {
    border: 1px solid #FF0500;
  }
}


@media screen and (max-width: 1280px) {


}


/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .custom-login {
    width: 80%;
  }


}

@media screen and (max-width: 820px) {
  .custom-login {
    width: 90%;
  }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .custom-login {
    width: 100%;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .login-container {
    width: 100%
  }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {

}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}


.custom-label-radiobutton {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom-label-radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.custom-label-radiobutton:hover input ~ .checkmark {
  background-color: #ccc;
}


.custom-label-radiobutton input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "\f00c";
  position: absolute;
  display: none;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.custom-label-radiobutton input:checked ~ .checkmark:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the indicator (dot/circle) */
.custom-label-radiobutton .checkmark:after {
  color:white;
  margin:auto;
  font-size:15px
}
