.fa-caret-down {
    position: absolute;
    font-size: 16px;
    width: 9px;
    border: 0;
    right: 5%;
    top: 35%;
}

.mobile-submenu.collapsed .fa-caret-down {
    transform: rotate(90deg);
}

.parent-custom-navbar {
    width: 80%;
    margin: auto auto;
    height: 100%;
}

.custom-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    height: 100%;
    justify-content: space-between;

    .custom-menu {
        display: flex;
        flex-direction: row;

        .nav-link:focus {
            box-shadow: unset;
        }

        .nav-link:hover {
            background-color: unset;
        }

        .list-group-item-action:focus {
            box-shadow: unset;
            outline: unset;
        }

        .list-group-item-action:active {
            background-color: #fff !important;
        }

        .custom-nav-category-menu-md.active {
            background: #F3F9FF !important;
            color: #1890FF !important;
        }
    }

    .navbar-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 !important;
        gap: 5px;

        #user-menu-toggle::after {
            color: #1890FF;
        }

        li {
            list-style-type: none;
        }

        .dropdown-menu {
            padding: 20px;
            will-change: transform;
            position: absolute;
            transform: translate3d(0px, 27px, 0px);
            top: 0;
            left: 0;
        }

        .dropdown-menu.show {
            margin-top: 30px;
        }

        //.dropdown-menu.show::before {
        //    background-color: rgb(255, 255, 255);
        //    content: "";
        //    height: 37px;
        //    position: absolute;
        //    right: 40px;
        //    width: 37px;
        //    top: -7px;
        //    transform: rotate(45deg);
        //}

        .dropdownlanguage::after {
            content: unset !important;
        }

        .dropdown-toggle:focus {
            box-shadow: unset !important;
            outline: unset !important;
        }

        img.lang_icon {
            width: 42px !important;
            height: 42px;
            object-fit: cover;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, .5);
            padding: 2px;
            position: relative;
        }


        .lang_icon_flag {
            display: inline-block;
            margin: 0 15px 0 3px;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            overflow: hidden;
            top: 10px;
            position: relative;
        }

        .lang_icon_flag img {
            width: 100% !important;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            border-radius: 50px;
        }

        .list-group {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                border-radius: 25px;
                background-color: #F5F5F5;
                padding: 0 10px;
                color: #0a0a0a;
                font-size: 16px;
                line-height: 3.125;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                max-width: 240px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: unset;
            }

            a:hover, a.active {
                background-color: #1890FF;
                color: white;
            }

            a:focus {
                box-shadow: unset !important;

            }
        }

    }

}


.custom-user-menu {
    display: flex;
    padding: 11px 6px 10px 20px !important;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    border-radius: 24px;
    background: #F5F5F5;

    .dropdown-item:hover {
        color: #1890FF;
        background: rgba(208, 233, 255, 0.29);
    }

}

.custom-user-menu:hover {
    svg {
        path {
            fill: rgba(24, 144, 255, 1)

        }
    }
}

.custom-user-menu.dropdown-item:hover {
    color: #1890FF;
    background: rgba(208, 233, 255, 0.29);
}

.custom-navbar-nav {
    .nav-link {
        font-size: 0.83vw;
    }

    .nav-link.active {
        color: #1890FF !important;
    }

    li {
        a {
            display: flex;
            align-items: center;
            height: 40px;
            color: #000;
            font-size: 0.83vw;
            font-weight: 700;
        }
    }
}

.btn-custom {
    margin: 0 !important;
    border: 1px solid #1890FF;
    color: var(--ffc-107, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 8px;
    background: #1890FF;
}

.btn-custom:hover {
    color: white;
    background-color: #1890FF;
}

.custom-navbar-avatar {
    .userbutton {
        width: 42px;
        height: 42px;
        margin-right: 8px;
    }

    .hidden-md {
        p {
            font-size: 16px;
        }
    }
}


//navbar menu
.custom-nav-category-menu {
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 10px 9px 10px;
}

.custom-nav-category-menu.active {
    background: rgba(24, 144, 255, 0.12);
    color: #1890FF !important;
}

.custom-nav-category-menu:hover {
    background: rgba(24, 144, 255, 0.12);
    color: #1890FF;
}


@media screen and (max-width: 1280px) {
    .parent-custom-navbar {
        width: 90%;
    }
    .custom-navbar-nav {
        .nav-link {
            font-size: 1.43vw;
        }
    }
}


/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {

    .parent-custom-navbar {
        width: 95%;
    }
    .custom-navbar-nav {
        .nav-link {
            font-size: 1.63vw;
        }

        .nav-link.active {
            color: #1890FF !important;
        }

        li {
            a {
                font-size: 1.23vw;
            }
        }
    }
    .custom-navbar-avatar {
        .userbutton {
            width: 37px;
            height: 37px;
        }

        .hidden-md {
            p {
                font-size: 14px;
            }
        }
    }


}


/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .custom-navbar {

        .custom-usermenu {


            .dropdown-menu {
                left: unset !important;
                right: 0 !important;
            }
        }
    }

}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
   .parent-custom-navbar{
       .custom-navbar {

           .custom-menu {
               display:none !important;

           }
       }
   }
    .navbar-user {

        #user-menu-toggle::after {
            display: none !important;
        }

    }
    .navbar.fixed-top .usermenu .login {
        li {
            a {
                button {
                    font-size: 9px;
                }
            }
        }
    }

    .parent-custom-navbar {
        width: 95%;

        .custom-usermenu {
            #user-menu-toggle::after {
                content: unset;
            }
        }
    }
    .custom-navbar-avatar {
        .userbutton {
            margin-left: 0;
        }
    }

}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {

}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}


