<div class="row">
    <div class="col-md-12">
        <h4>{{pluginname}}</h4>
        <p>
            <span>Tổng : {{countcer}} Chứng chỉ / {{pages}} Page </span><br>
            <i>( {{pageLimit}} Chứng chỉ / Page )</i>
        </p>
    </div>
</div>
<div class="row">
    {{#arraypage}}
        <div class="col-2 mt-3">
            <a class="btn btn-outline-primary w-100" href="{{urlPage}}"><i class="icon fa fa-download fa-fw "></i> {{pageName}} </a>
        </div>
    {{/arraypage}}
</div>
