{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_moove/primary-drawer-mobile

    This template renders the mobile version of the top navbar menu in a drawer.

    Example context (json):
    {
        "output": {
            "should_display_navbar_logo": true,
            "get_compact_logo_url": "http://placekitten.com/50/50"
        },
        "mobileprimarynav": [
            {
                "text": "Dashboard",
                "url": "/my",
                "isactive": "true"
            },
            {
                "text": "Site home",
                "url": "/",
                "isactive": "false"
            },
            {
                "text": "My courses",
                "url": "/course",
                "isactive": "false"
            }
        ]
    }
}}

{{< theme_moove/vtccustomdrawer }}
    {{$id}}theme_moove-drawers-primary{{/id}}
    {{$drawerclasses}}drawer drawer-left drawer-primary{{/drawerclasses}}
    {{$drawercloseonresize}}1{{/drawercloseonresize}}
    {{$drawerheading}}
        {{# output.should_display_navbar_logo }}
            <img src="{{output.get_logo}}" class="logo py-1 h-100" alt="{{sitename}}">
        {{/ output.should_display_navbar_logo }}
        {{^ output.should_display_navbar_logo }}
            {{{ sitename }}}
        {{/ output.should_display_navbar_logo }}
    {{/drawerheading}}
    {{$drawercontent}}
        <div class="list-group">
        {{#isloginin}}
            <div class="d-flex flex-row w-100 align-items-center justify-content-start" style="padding-left:22px;background-color: #1890FF;color:#fff;height: 68px">
                 <span class="userbutton mr-2" style="width: 42px;height: 42px">
                            <img src="{{{useravatar}}}" alt="" style="width: 100% ;border-radius: 20px;height: 100%;object-fit: cover"/>
                        </span>
                <div class="d-flex flex-col" style="height: fit-content">
                        <div class="d-flex flex-column">
                            <p class="mb-0 text-left" style="color: white;font-size: 16px;font-weight: 600;">{{userinformation.name}}</p>
                            <p class="mb-0 text-left" style="color: white;font-size: 14px;font-weight: 400;">{{userinformation.email}}</p>
                        </div>
                </div>
            </div>
        {{/isloginin}}
        {{^isloginin}}
            <div class="d-flex flex-row w-100 align-items-center justify-content-center" style="background-color: #1890FF;color:#fff;height: 68px">
                 <span class="userbutton mr-2" style="width: 42px;height: 42px">
                     <img src="{{publicimage}}/nologin.png" alt="" style="width: 100% ;border-radius: 20px;background-color: white;height: 100%;object-fit: cover"/>
                 </span>
                <div class="d-flex flex-col" style="height: fit-content">
                    <div class="d-flex flex-column" style="height: fit-content">
                        <div class="d-flex flex-row">
                            <a href="{{loginurl}}" style="color:white;font-size: 16px;">{{#str}}login, theme_moove{{/str}}</a>/<a href="{{signupurl}}" style="color:white; font-size: 16px;">{{#str}}register, theme_moove{{/str}}</a>
                        </div>
                        <p class="mb-0" style="font-size: 10px;font-weight: 400;">{{#str}}signtomorefunction,theme_moove{{/str}}</p>
                    </div>
                </div>
            </div>

        {{/isloginin}}
            <div class="custom-navbar " id="navbar-mobile">
                <div class="custom-menu flex-column w-100">
                    {{#menunavbar}}
                        {{^submenu}}
                            <a href="{{{url}}}" class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}} {{#classes}}{{.}} {{/classes}}" {{#isactive}}aria-current="true"{{/isactive}}
                               style="color: #000;font-size: 16px;font-weight: 500;{{#choose}}background-color: #F3F9FF;color:#1890FF{{/choose}}{{^choose}}background-color: #fff;{{/choose}}">
                                <i style="margin: auto 10px auto 0;width: 4px;height: 23px;border-radius:10px;text-align:center;border: 2px solid {{#choose}}#1890FF{{/choose}}{{^choose}}#fff{{/choose}}"></i>
                                {{name}}
                            </a>
                        {{/submenu}}
                        {{#submenu}}
                            <a class="list-group-item list-group-item-action mobile-submenu collapsed" data-toggle="collapse" href="#collapseExample{{index}}" role="button" aria-expanded="false" aria-controls="collapseExample{{index}}"
                               style="color: #000;font-size: 16px;font-weight: 500;{{#choose}}background-color: #F3F9FF;color:#1890FF{{/choose}}{{^choose}}background-color: #fff;{{/choose}}">
                                <i style="margin: auto 13px auto 0;width: 4px;height: 23px;border-radius:10px;text-align:center;border: 2px solid {{#choose}}#1890FF{{/choose}}{{^choose}}#fff{{/choose}}"></i>

                                {{name}}<i class="fa-solid fa-caret-down" style=""></i>
                            </a>

                            <div class="collapse " id="collapseExample{{index}}">
                                <div class="d-flex flex-column" style="background-color: {{#choose}}#F3F9FF{{/choose}}{{^choose}}#fff{{/choose}}">
                                    {{#menu}}
                                        <a href="{{{url}}}" class="text-decoration-none custom-nav-category-menu-md {{#choose}}{{choose}}{{/choose}}" style="  text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 9px 5px 9px 35px;color: #000;font-size: 16px;font-weight: 400;">
                                            {{name}}
                                        </a>
                                    {{/menu}}
                                </div>

                            </div>
                        {{/submenu}}


                    {{/menunavbar}}
                    {{#showlangmenu}}
                        <a href="#" id="change-password" data-toggle="modal" data-target="#changeLanguageNavbar" class="list-group-item list-group-item-action"
                       style="color: #000;font-size: 16px;font-weight: 500;">
                        <i style="margin: auto 10px auto 0;width: 4px;height: 23px;border-radius:10px;text-align:center;border: 2px solid {{#choose}}#1890FF{{/choose}}{{^choose}}#fff{{/choose}}"></i>
                        {{#str}}language, theme_moove{{/str}}
                        {{#languagevi}}
                            <div class="lang_icon_flag"><img src="{{publicimage}}/lang/vi.svg" alt=""></div>
                        {{/languagevi}}
                        {{#languageen}}
                            <div class="lang_icon_flag"><img src="{{publicimage}}/lang/en.svg" alt=""></div>
                        {{/languageen}}
                    </a>
                        <div class="modal fade changeLanguage" id="changeLanguageNavbar" tabindex="-1" role="dialog" style="background: #766f6f6e"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center" style="position: relative; height: 50px">
                                    <h5 class="modal-title" style="position: absolute; left: 0; right: 0" id="exampleModalLabel">{{#str}}language, theme_moove{{/str}}</h5>
                                    <button type="button" class="close" style="margin: -1rem; position: absolute;  right: 4%" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <a href="{{urlchangelanguagevi}}" class="{{#languagevi}}active{{/languagevi}}">
                                        <div class="lang_icon_flag"><img src="{{publicimage}}/lang/vi.svg" alt="">
                                        </div>{{#str}}vi, theme_moove{{/str}}
                                    </a>
                                    <a href="{{urlchangelanguageen}}" class="{{#languageen}}active{{/languageen}}">
                                        <div class="lang_icon_flag"><img src="{{publicimage}}/lang/en.svg" alt="">
                                        </div>{{#str}}en, theme_moove{{/str}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/showlangmenu}}
                </div>

            </div>
<!--            {{#mobileprimarynav}}-->
<!--                {{#haschildren}}-->
<!--                <a id="drop-down-{{sort}}" href="#" class="list-group-item list-group-item-action icons-collapse-expand collapsed d-flex" data-toggle="collapse" data-target="#drop-down-menu-{{sort}}" aria-expanded="false" aria-controls="drop-down-menu-{{sort}}">-->
<!--                    {{{text}}}-->
<!--                    <span class="ml-auto expanded-icon icon-no-margin mx-2">-->
<!--                        {{#pix}} t/expanded, core {{/pix}}-->
<!--                        <span class="sr-only">-->
<!--                            {{#str}} collapse, core {{/str}}-->
<!--                        </span>-->
<!--                    </span>-->
<!--                    <span class="ml-auto collapsed-icon icon-no-margin mx-2">-->
<!--                        {{#pix}} t/collapsed, core {{/pix}}-->
<!--                        <span class="sr-only">-->
<!--                            {{#str}} expand, core {{/str}}-->
<!--                        </span>-->
<!--                    </span>-->
<!--                </a>-->
<!--                <div class="collapse list-group-item p-0 border-0" role="menu" id="drop-down-menu-{{sort}}" aria-labelledby="drop-down-{{sort}}">-->
<!--                    {{#children}}-->
<!--                        {{^divider}}-->
<!--                             <a href="{{{url}}}" class="pl-5 bg-light list-group-item list-group-item-action">{{{text}}}</a>-->
<!--                        {{/divider}}-->
<!--                    {{/children}}-->
<!--                </div>-->
<!--                {{/haschildren}}-->
<!--                {{^haschildren}}-->
<!--                <a href="{{{url}}}" class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}} {{#classes}}{{.}} {{/classes}}" {{#isactive}}aria-current="true"{{/isactive}}>-->
<!--                    {{{text}}}-->
<!--                </a>-->
<!--                {{/haschildren}}-->
<!--            {{/mobileprimarynav}}-->
        </div>
    {{/drawercontent}}
    {{$drawerstate}}show-drawer-primary{{/drawerstate}}
{{/ theme_moove/vtccustomdrawer}}
