<svg class="asc-progress-circle"
     width="18"
     height="18"
     fill="none"
     focusable="false"
     role="img"
     viewBox="0 0 16 16"
     xmlns="https://www.w3.org/2000/svg">
    <circle class="track" cx="8" cy="8" fill="transparent" r="{{progress.radius}}" transform="rotate(-89.9 8 8)"></circle>
    <circle class="runner" cx="8" cy="8" fill="transparent" r="{{progress.radius}}" stroke-dasharray="{{progress.dasharray}}" stroke-dashoffset="{{progress.dashoffset}}" transform="rotate(-89.9 8 8)"></circle>
    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" stroke="#34B53A" style="font-size:11px">{{progress.text}}</text>
</svg>


